#root {
  /* max-width: 1280px */;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 2em;
}

